.play1 {
    color: #0E5A8A;
}
.play-white {
    color: white
}
.play-big {
    font-size: 20px;
    margin-right: 10px;
}
.play-margin-right {
    margin-right: 5px !important;
}

.play-margin-bottom {
    margin-bottom: 5px !important;
}

.play-right {
    text-align: right !important;
}

.play-center {
    text-align: center !important;
}

.column-width {
    flex-basis: 200px !important;
}

.cell-width {
    width: 200px !important;
}
.play-button-grid {
    margin-right: 3px !important;
}
.play-actions-cell {
    text-align: center;
}

.play-higth {
    height: 80vh;
}
.play-zatras {
    z-index: -1;
}
.play-zadelante {
    z-index: 99;
}