.play1 {
    color: #0E5A8A;
}
.play-white {
    color: white
}
.play-big {
    font-size: 50px;
}
.play-margin-right {
    margin-right: 5px !important;
}

.play-margin-bottom {
    margin-bottom: 5px !important;
}

.play-right {
    text-align: right;
}

.play-center {
    text-align: center;
}